.toolbar {
  background-color: #CFBCDB;
}

.spacer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.burger-icon {
  display: none;
  color: #6B5678;
}

.citation {
  display: none;
  color: #6B5678;
  font-family: 'Alegreya Sans';
  font-weight: bold;
}



.active-btn {
  background-color: rgba(107, 86, 120, 0.19) !important;
}

.btn_menu {
  background-color: #CFBCDB;
  border: none;
  color: #6B5678 !important;
  font-weight: bold;
  font-family: 'Alegreya Sans';
  font-size: 15pt;
  cursor: pointer;
  border-radius: 7%;
  padding: 6px 10px;
  width: 100%;
}

.logo-btn {
  padding: 0;
  margin-right: 20px;
  background-color: #CFBCDB;
  border: none;
}

.logo {
  height: 55px;
  width: auto;
  cursor: pointer;
}

.sub-item {
  padding-left: 20px;
  font-size: 9pt;
  color: #6B5678 !important;
}

::ng-deep .mat-drawer-container {
  background-color: #CFBCDB !important;
}

.disabled {
  color: gray !important;
  cursor: not-allowed !important;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-btn {
  img {
    height: 40px;
  }
}

.desktop-menu {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  background-color: #CFBCDB;
  padding: 1rem;
}
@media (max-width: 1035px) {
  .desktop-menu {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .citation {
    display: block;
  }
}

.sub-menu {
  display: flex;
  justify-content: center;
}
