<mat-toolbar [ngClass]="{'header-container-opened': isMenuOpened, 'header-container-closed': !isMenuOpened}" class="header-container">
  <div [ngClass]="{'logo-header-opened': isMenuOpened, 'logo-header': !isMenuOpened}" class="logo-header">
    <button mat-button [routerLink]="'/accueil'" class="logo-btn">
      <img src="assets/images/logo_hbcf.png" alt="Logo HBCF" class="logo-img">
    </button>
  </div>
  <div [ngClass]="{'nav-header': isMenuOpened, 'nav-header-opened': !isMenuOpened}" class="nav-header">
    <ng-container *ngFor="let item of navigation.navItems">
      <ng-container *ngIf="item.subTitles && item.subTitles.length > 0; else singleItem">
        <button mat-button [matMenuTriggerFor]="menu" class="btn_menu">{{ item.title }}</button>
        <mat-menu #menu="matMenu" class="sub-menu">
          <button *ngFor="let subItem of item.subTitles" mat-menu-item [routerLink]="subItem.route"
            routerLinkActive="active-btn">
            {{ subItem.title }}
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #singleItem>
        <button mat-button class="btn_menu"
          [routerLink]="item.route"
          [ngClass]="{ 'disabled': !item.route }"
          *ngIf="!item.picture"
          routerLinkActive="active-btn">
          {{ item.title }}
        </button>
      </ng-template>
    </ng-container>
  </div>
  <div [ngClass]="{'icon-header-opened': isMenuOpened}" class="icon-header">
    <div *ngFor="let item of iconItems" [ngClass]="{ 'icon-container-opened': isMenuOpened, 'icon-container-closed': !isMenuOpened }">
      <div *ngIf="item.icon && item.route" class="icon-container">
        <button mat-icon-button  [routerLink]="item.route">
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <span *ngIf="user">{{ user.firstName }}</span>
      </div>
      <button mat-icon-button *ngIf="item.icon && item.link" (click)="NavigateToLink(item.link)">
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    </div>
    <button mat-icon-button class="burger-icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>


<router-outlet style="position: relative; top: var(--mat-toolbar-standard-height)"></router-outlet>