.header-container {
  top: 0;
  position: fixed;
  background-color: rgba(207, 188, 219, 0.7) !important;
  z-index: 1000;
  flex: 1 1 auto;
  justify-content: space-between;
}

.header-container-opened {
  position: fixed;
  background-color: rgba(207, 188, 219, 0.7) !important;
  z-index: 1000;
  flex: 1 1 auto;
  justify-content: space-between;
}


/* ============================================
   Section: Header Logo
============================================ */

.logo-header {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo-btn {
  display: flex;
  max-height: 100%;
  width: auto;
}

.logo-img {
  height: 50px;
  width: auto;
}

/* ============================================
   Section: Header Navigation
============================================ */

.btn_menu {
  font-family: 'Alegreya sans';
  font-weight: bold;
  font-size: 15pt;
  color: #6B5678 !important;
} 
.active-btn {
  background-color: rgba(107, 86, 120, 0.19) !important;
}



/* ============================================
   Section: Header Icons
============================================ */

.burger-icon {
  display: none;
}

.icon-header {
  display: flex;
  height: 64px;
  align-items: center;
}



span {
  color: #6B5678;
}

mat-icon {
  color: #6B5678;
}

.icon-container {
  display: flex;
  align-items: center;
  font-family: 'Alegreya sans';
  font-weight: bold;
  font-size: 15pt;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease, visibility 1s ease;
}


.icon-container-closed {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease, visibility 1s ease;  
}


::ng-deep .mat-mdc-button, .mat-mdc-button .mdc-button__ripple {
 border-radius: 8px !important; 
}




/* ============================================
   Section: Header mobile
============================================ */

@media (max-width: 1047px) {

  .header-container-closed {
    display: flex;
    align-items: flex-start;
    background-color: rgba(207, 188, 219, 0.7) !important;
    transition: height 1s ease, background-color 1s ease;
  }
  
  .header-container-opened {
    display: flex;
    align-items: flex-start;
    height: 100%;
    background-color: rgba(207, 188, 219, 1) !important;
    transition: height 1s ease, background-color 1s ease;
  }


  .nav-header {
    width: 100%;
    height: 100%;
    background-color: rgba(207, 188, 219, 1) !important;
    position: absolute;
    left: 0 !important;
    top: 64px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 1s ease, background-color 1s ease;
  }

  .nav-header-opened {
    width: 100%;
    height: 0;
    left: 0 !important;
    position: absolute;
    top: 64px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 1s ease, background-color 1s ease;
  }

  .btn_menu {
    justify-content: flex-start;
  }

  .logo-header-opened {
    display: flex;
    height: 100%;
    align-items: flex-start;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease;
  }

  .logo-header {
    display: flex;
    height: 100%;
    align-items: flex-start;
    padding-top: 20px;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease, visibility 1s ease;
  }

  .burger-icon {
    display: block;
    cursor: pointer;
  }
}