<div class="news-container">
  <h1 class="title">{{ news.title }}</h1>

  <!-- Section brouillons (admin uniquement) -->
  <div *ngIf="authService.getUserRole() === 'admin'">
    <h2 class="section-title">Brouillons ({{ getNumberOfNewsItems(true) }})</h2>
    <div class="news-list">
      <ng-container *ngFor="let newsItem of news.newItems">
        <div *ngIf="newsItem.isDraft" class="news-item" (click)="navigateToNews(newsItem._id)">
          <img
            class="news-image"
            [src]="getCoverPicture(newsItem.content).url"
            alt="{{ getCoverPicture(newsItem.content).alt }}"
          >
          <div class="news-content">
            <h2 class="news-title">{{ newsItem.title }}</h2>
            <p class="news-summary">{{ newsItem.summary }}</p>
            <div class="news-date">
              <p class="news-date-item date">{{ newsItem.publishDate | date: 'dd/MM/yyyy' }}</p>
              <p *ngIf="newsItem.publishDate"> - </p>
              <p class="news-date-item author">{{ newsItem.author }}</p>
            </div>
          </div>
          <!-- Actions si admin -->
          <div *ngIf="authService.getUserRole() === 'admin' && hoveredItem === newsItem._id" class="news-actions">
            <button (click)="editNews(newsItem._id); $event.stopPropagation()">Modifier</button>
            <button (click)="deleteNews(newsItem._id); $event.stopPropagation()">Supprimer</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Section publiés -->
  <div>
    <h2 *ngIf="authService.getUserRole() === 'admin'" class="section-title">Publiés ({{ getNumberOfNewsItems(false) }})</h2>
    <div class="news-list">
      <ng-container *ngFor="let newsItem of news.newItems">
        <div *ngIf="!newsItem.isDraft" class="news-item-wrapper">
          <div class="news-item" (click)="navigateToNews(newsItem._id)" (mouseenter)="hoveredItem = newsItem._id" (mouseleave)="hoveredItem = null">
            <img
            class="news-image"
            [src]="getCoverPicture(newsItem.content).url"
            alt="{{ getCoverPicture(newsItem.content).alt }}"
          >
            <div class="news-content">
              <h2 class="news-title">{{ newsItem.title }}</h2>
              <p class="news-summary">{{ newsItem.summary }}</p>
              <div class="news-date">
                <p class="news-date-item date">{{ newsItem.publishDate | date: 'dd/MM/yyyy' }}</p>
                <p> - </p>
                <p class="news-date-item author">{{ newsItem.author }}</p>
              </div>
            </div>
            <!-- Actions si admin -->
            <div *ngIf="authService.getUserRole() === 'admin' && hoveredItem === newsItem._id" class="news-actions">
              <button (click)="editNews(newsItem._id); $event.stopPropagation()">Modifier</button>
              <button (click)="deleteNews(newsItem._id); $event.stopPropagation()">Supprimer</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Bouton Créer un article (admin uniquement) -->
  <button *ngIf="authService.getUserRole() === 'admin'" (click)="createNewArticle()" class="create-article-button">
    Créer un article
  </button>
</div>
