<div class="club-content">
    <h1 class="title">{{ history?.title }}</h1>

    <!-- Texte affiché en paragraphe -->
    <div class="content-text">
        <p *ngFor="let text of history?.content?.content" class="content-field">{{ text?.text }}</p>
    </div>

    <!-- Images alignées avec des traits horizontaux -->
    <div class="image-container">
        <div class="image-block">
            <ng-container *ngFor="let picture of history?.content?.pictures; let i = index">
                <div class="image-wrapper">
                    <div class="image-circle">
                        <img [src]="picture?.link" [alt]="picture?.alt">
                    </div>
                </div>
                <!-- Trait uniquement si ce n'est pas la dernière image -->
                <div *ngIf="i < history?.content?.pictures.length - 1" class="line"></div>
            </ng-container>
        </div>

        <div class="image-block">
            <ng-container *ngFor="let picture of history?.content?.pictures; let i = index">
                <div class="image-wrapper">
                    <p class="text">{{ picture?.alt }}</p>
                </div>
                <!-- Ajouter un trait entre les descriptions si nécessaire -->
                <div *ngIf="i < history?.content?.pictures.length - 1" class="noline"></div>
            </ng-container>
        </div>
    </div>

    <!-- Citation en bas -->
    <app-citation *ngIf="history?.content?.citations" [citation]="history?.content?.citations[0]"></app-citation>
</div>
