<div class="equipe_content">
  <h1 class="text title">{{team.name}}</h1>
  <div class="equipe_wrapper">
      <img [src]="team.image" [alt]="team.name" class="team_image">
      <div class="team_details">
          <div class="team_section">
              <h2>Catégories d'âges</h2>
              <p>{{team.details.annees}}</p>
          </div>
          <div class="team_section niveaux">
              <h2>Niveaux de jeu</h2>
              <div class="niveau-wrapper">
                  <table>
                      <tbody>
                          <tr *ngFor="let niv of team.details.niveau" class="niveau">
                              <td class="niveau-equipe">{{niv.equipe}}</td>
                              <td class="niveau-icon">
                                  <mat-icon>arrow_forward</mat-icon>
                              </td>
                              <td class="niveau-description">{{niv.niveau}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="team_section entrainements">
              <h2>Entrainements</h2>
              <div class="entrainements-wrapper">
                  <table>
                      <tbody>
                          <tr *ngFor="let train of team.details.entrainements" class="entrainement">
                              <td>{{train.jour}}</td>
                              <td>-</td>
                              <td>{{train.horaire}}</td>
                              <td class="entrainement-icon">
                                  <mat-icon>arrow_forward</mat-icon>
                              </td>
                              <td>{{train.equipe}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <h1 class="text title">Entraîneurs</h1>
  <div class="trainees_wrapper">
    <div *ngFor="let member of team.details.entraineurs" class="trainees_card">
        <img [src]="member.picture" [alt]="member.name" class="trainees_image">
      <div class="trainees_info">
        <div class="trainees_name_surname">
          <p class="trainees_name">{{member.name}}</p>
          <p class="trainees_surname">{{member.surname}}</p>
        </div>
        <p class="trainees_team">{{member.team}}</p>
        <p class="trainees_phone">{{member.phone}}</p>
      </div>
    </div>
  </div>
  <!-- condition ternaire pour afficher joueuses ou joueurs en fonction du sexe de l'équipe  -->
  <h1 class="text title">{{team.civilite}}</h1> 
  <div class="trainees_wrapper">
    <div *ngFor="let member of team.details.players" class="trainees_card">
        <img [src]="member.picture" [alt]="member.name" class="trainees_image">
      <div class="trainees_info">
        <div class="trainees_name_surname">
          <p class="trainees_name">{{member.name}}</p>
          <p class="trainees_surname">{{member.surname}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
