.equipe_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.text.title {
    text-shadow: 4px 4px 4px #6B5678;
    font-size: 36px;
    color: #6B5678;
}

.equipe_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    flex-wrap: wrap; /* Réorganisation sur petit écran */
}

.team_image {
    width: 40%;
    border-radius: 10px;
    border: 2px solid #6B5678;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.team_details {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les sections */
    margin-left: 20px;
}

.team_section {
    margin-bottom: 20px;
}

.team_section h2 {
    font-size: 24px;
    color: #6B5678;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.team_section p {
    font-size: 18px;
    color: #6B5678;
    display: flex;
    justify-content: center;
}

/* Alignement des éléments d'entraînement horizontalement */
.entrainements-wrapper {
    width: 80%; /* Réduit la largeur du tableau */
    margin: 0 auto; /* Centre le tableau */
}

table {
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
    width: 100%; /* Assure que le tableau occupe toute la largeur disponible */
}

.entrainement {
    background-color: rgba(107, 86, 120, 0.1); /* Fond léger pour chaque ligne */
    margin-bottom: 5px; /* Espacement entre les lignes */
}

td {
    border: none; /* Enlève les bordures des cellules */
    padding: 10px; /* Ajoute de l'espacement interne */
    font-size: 18px; /* Taille de police pour les cellules */
    color: #6B5678; /* Couleur du texte */
    text-align: center; /* Centre le texte dans les cellules */
}

/* Styles spécifiques pour les icônes dans le tableau */
.entrainement-icon {
    text-align: center; /* Centre l'icône */
}

.entrainement p {
    margin: 0; /* Enlève la marge par défaut */
}

/* Style pour les niveaux de jeu */
.niveau-wrapper {
    width: 80%; /* Réduit la largeur du tableau */
    margin: 0 auto; /* Centre le tableau */
}

.niveau {
    background-color: rgba(107, 86, 120, 0.1); /* Fond léger pour chaque ligne */
    margin-bottom: 5px; /* Espacement entre les lignes */
}

.niveau-icon {
    text-align: center; /* Centre l'icône */
}

.niveau p {
    margin: 0; /* Enlève la marge par défaut */
}

/* Styles pour petit écran */
@media (max-width: 768px) {
    .equipe_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .team_image {
        width: 100%;
        margin-bottom: 20px; /* Espace entre l'image et le texte sur mobile */
    }

    .team_details {
        width: 100%;
        margin-left: 0;
    }

    td {
        font-size: 16px; /* Réduit la taille de police des cellules sur petit écran */
        padding: 5px; /* Ajuste l'espacement interne */
    }

    .niveau-wrapper {
        width: 90%; /* Ajuste la largeur du tableau sur mobile */
    }

    .entrainement-icon {
        font-size: 20px; /* Réduit la taille des icônes sur mobile */
    }

    /* Icônes */
    .niveau-icon mat-icon, 
    .entrainement-icon mat-icon {
        font-size: 20px; /* Réduit la taille des icônes sur mobile */
    }
}

/* Style pour les icônes dans le tableau */
.niveau-icon mat-icon, 
.entrainement-icon mat-icon {
    color: #6B5678; /* Couleur de l'icône */
    font-size: 24px; /* Taille de l'icône */
}


.niveau-description {
    text-align: center; /* Alignement du texte au centre */
    width: 33%; /* Réduit la largeur de la cellule du niveau */
}

// Début entraineurs
.trainees_wrapper {
    display: flex;
    flex-wrap: wrap; /* Permet d'avoir plusieurs cartes sur une même ligne */
    gap: 30px; /* Espace entre les cartes */
    justify-content: center; /* Centrer les cartes */
    width: 100%;
    margin-bottom: 10px;
  }
  
  .trainees_card {
    display: flex;
    align-items: center;
    // width: 40%; /* Plus de place pour chaque carte */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère */
    background-color: rgba(107, 86, 120, 0.1); /* Couleur du fond des cartes */
    max-height: 250px; /* Limite la hauteur des cartes */
  }
  
  .trainees_image {
    width: auto; /* Ajustement de la largeur pour une taille plus uniforme */
    height: 250px; /* Préserve les proportions */
    background-color: #f9f9f9; /* Couleur du fond de l'image */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .trainees_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6B5678; /* Couleur de fond de la section info */
    padding: 0 20px; /* Ajout d'espacement interne */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #CFBCDB; /* Couleur du texte */
    height: 250px /* Prend toute la hauteur de la carte */
  }
  
  .trainees_name_surname {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .trainees_name {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .trainees_team,
  .trainees_phone {
    text-align: center; /* Centrer les éléments */
  }
  