<div class="equipe_content">
  <h1 class="text title">{{team?.name}}</h1>
  <div class="equipe_wrapper">
      <img [src]="team?.picture" [alt]="team?.name" class="team_image">
      <div class="team_details">
          <div class="team_section">
              <h2>Catégories d'âges</h2>
              <p>{{team?.details?.year}}</p>
          </div>
          <div class="team_section niveaux">
              <h2>Niveaux de jeu</h2>
              <div class="niveau-wrapper">
                  <table>
                      <tbody>
                          <tr *ngFor="let level of team?.details?.levels" class="niveau">
                              <td class="niveau_equipe">{{level?.team_name}}</td>
                              <td class="niveau-icon">
                                  <mat-icon>arrow_forward</mat-icon>
                              </td>
                              <td class="niveau-description">{{level?.level_name}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="team_section entrainements">
              <h2>Entrainements</h2>
              <div class="entrainements-wrapper">
                  <table>
                      <tbody>
                          <tr *ngFor="let training of team?.details?.trainings" class="entrainement">
                              <td>{{training?.day}}</td>
                              <td>-</td>
                              <td>{{training?.schedule}}</td>
                              <td class="entrainement-icon">
                                  <mat-icon>arrow_forward</mat-icon>
                              </td>
                              <td>{{training?.team_name}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <h1 class="text title">Entraîneurs</h1>
  <div class="trainees_wrapper">
    <div *ngFor="let trainer of team?.details?.trainers" class="trainees_card">
        <img [src]="trainer?.picture" [alt]="trainer?.name" class="trainees_image">
      <div class="trainees_info">
        <div class="trainees_name_surname">
          <p class="trainees_name">{{trainer?.name}}</p>
          <p class="trainees_surname">{{trainer?.surname}}</p>
        </div>
        <p class="trainees_team">{{trainer?.team}}</p>
        <p class="trainees_phone">{{trainer?.phone}}</p>
      </div>
    </div>
  </div>
  <!-- condition ternaire pour afficher joueuses ou joueurs en fonction du sexe de l'équipe  -->
  <h1 class="text title">{{team?.civility}}</h1> 
  <div class="trainees_wrapper">
    <div *ngFor="let player of team?.details?.players" class="trainees_card">
        <img [src]="player?.picture" [alt]="player?.name" class="trainees_image">
      <div class="trainees_info">
        <div class="trainees_name_surname">
          <p class="trainees_name">{{player?.name}}</p>
          <p class="trainees_surname">{{player?.surname}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
