.event_content {
    position: relative;
    top: var(--mat-toolbar-standard-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text {
    color: #6B5678;
}

::ng-deep .mat-typography p {
    font-family: 'Alegreya Sans' !important;
}

::ng-deep .mat-typography h2 {
    font-family: 'Alegreya Sans' !important;
    font-weight: bold;
}


.title {
    text-shadow: 4px 4px 4px #6B5678;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style pour le sous-titre (h2) */
.event_content h2 {
    color: #6B5678;
    font-size: 28px;
    margin: 20px 0 10px;
    text-align: center;
}

/* Style pour les paragraphes */
.event_content p {
    font-size: 18px;
    color: #6B5678;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Alegreya Sans' !important; 
}

/* Style pour les images */
.event_content img {
    max-width: 70%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #6B5678;
}

/* Style pour les citations */
.event_content div {
    color: #CFBCDB;
    padding: 15px 20px;
    margin: 30px 0;
    border-radius: 10px;
    text-align: center;
    max-width: 50%;
}

/* Style pour le texte de la citation */
.event_content .div-content p {
    margin-bottom: 25px;
}

/* Style pour l'auteur de la citation */
.event_content div p:last-child {
    margin: 0;
}

.upper {
    text-transform: uppercase;
}




/* Adaptation responsive pour petits écrans */
@media (max-width: 768px) {
    .event_content {
        padding: 10px;
        width: unset;
    }

    .title {
        font-size: 28px;
    }

    .event_content h2 {
        font-size: 24px;
    }

    .event_content p {
        font-size: 16px;
    }

    .event_content img {
        max-width: 80%;
    }

    .event_content div {
        max-width: 80%;
    }
    
    .soiree_hp {
        max-width: 80%;
    }
}
