<div class="event_content">
    <h1 class="text title">{{event.name}}</h1>
    <p class="upper">{{ event.details?.catchphrase }}</p>    
    <img [src]="event.picture" [alt]="event.name">
    <h2 class="upper">{{ event.details?.content?.title }}</h2>
    <div class="div-content">
        <p *ngFor="let ev of event.details?.content?.content">{{ ev.text }}</p>
    </div>
    <img *ngFor="let picture of event.details?.content?.pictures" [src]="picture.link" [alt]="picture.alt" class="soiree_hp">
    <app-citation *ngFor="let citation of event.details?.content?.citations" [citation]="citation"></app-citation>

</div>