.quote {
    border-radius: 0 !important;
    position: relative;
    border-top: 1px solid #6B5678;
    border-bottom: 1px solid #6B5678;
    padding-top: 30px;
    text-align: center;
    padding: 3% 2% !important;
    margin-bottom: 20px;
}

/* Pseudo-élément pour le cercle et les guillemets */
.quote::before {
    content: '“';
    font-size: 30px;
    color: #6B5678;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #CFBCDB;
    border: 1px solid #6B5678;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style pour le texte de la citation */
.quote p:first-child {
    font-style: italic;
    margin-bottom: 10px;
    color: #6B5678;
}

/* Style pour l'auteur de la citation */
.quote p:last-child {
    font-weight: bold;
    margin: 0;
    color: #6B5678;
}