.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #cfbcdb;
    color: #6b5678;
  }
  
  .title {
    text-shadow: 4px 4px 4px #6b5678;
    font-size: 36px;
  }
  
  form {
    width: 50%;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  
    input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #6b5678;
      border-radius: 10px;
      font-size: 1rem;
      background-color: #cfbcdb;
      box-shadow: inset 0px 0px 2px 0px #6b5678;
      transition: all 0.3s ease;
      z-index: 1; /* S'assurer que l'input est au-dessus du label */
      color: #6b5678;
  
      &::placeholder {
        color: rgba(107, 86, 120, 0.7);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre subtile */
      }

      &:focus {
        outline: none;
        border-color: #6b5678;
        box-shadow: 0 0 5px rgba(107, 86, 120, 0.5);
      }
  
      &:focus + .floating-label,
      &:not(:placeholder-shown) + .floating-label {
        top: -12px;
        left: 12px;
        font-size: 0.8rem;
        color: #6b5678;
        background-color: #cfbcdb;
        padding: 0 5px;
        transition: all 0.2s ease-in-out;
      }
    }
  
    .floating-label {
        position: absolute;
        left: 12px;
        top: 12px;
        font-size: 1rem;
        color: #6B5678;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
    }
  }
  
  .btn {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    background-color: #6b5678;
    color: #cfbcdb;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #5a466a;
  }
  
  .btn:active {
    background-color: #4e3d5f;
  }
  
  .error-message {
    color: #d9534f;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  
    .link {
      color: #6b5678;
      text-decoration: none;
    }
  
    .link:hover {
      text-decoration: underline;
    }
  }
  