<div class="equipe_content">
    <h1 class="text title">Matchs & résultats</h1>
    <div class="matchs-content">
        <img src="./assets/images/image_accueil_equipes.webp" alt="image_equipe_match" class="image_matchs">
        <div class="text-matchs">
            <p>Venez tous les week-ends encourager les équipes au gymnase du Parmelan</p>
            <br/>
            <p>Il n'y a jamais eu de meilleur moment pour venir voir des matchs de handball que cette année</p>
            <br/>
            <p>Au programme : </p>
            <ul>
                <li>Matchs de qualité</li>
                <li>Buvette</li>
                <li>Restauration</li>
                <li>Ambiance</li>
                <li>Un max de fun</li>
            </ul>
        </div>    
    </div>
    <button (click)="navigateToMatchCalendar()">Calendrier des matchs de l'année</button>
    <h1 class="text title">Équipes compétitives</h1>
    <div class="equipes-content">
      <div *ngFor="let team of competition_teams" class="team-card">
        <a [routerLink]="['/equipes', team.id]" class="team-image-wrapper">
          <img [src]="team.image" [alt]="team.name" class="team-image">
          <div class="team-button">{{ team.name }}</div>
        </a>
      </div>
    </div>
    <h1 class="text title">Équipes Dirigeante</h1>
    <div class="equipes-content">
      <div *ngFor="let team of leader_teams" class="team-card">
        <a [routerLink]="['/equipes', team.id]" class="team-image-wrapper">
          <img [src]="team.image" [alt]="team.name" class="team-image">
          <div class="team-button">{{ team.name }}</div>
        </a>
      </div>
    </div>
</div>
