<div class="partner-container">
  <h1 class="title">{{become_partner?.title}}</h1>
  <h2 class="subtitle">{{become_partner?.description}}</h2>

  <div class="content">
    <p *ngFor="let paragraph of become_partner?.content">{{paragraph}}</p>
  </div>

  <div class="contact-networks-container">
    <div class="social-networks">
      <p>Écrivez-nous à :</p>
      <a href="mailto:{{become_partner?.contact?.email}}" class="mail-link">{{become_partner?.contact?.email}}</a>
    </div>
    <div class="center-line"></div>
    <div class="social-networks">
        <p>où suivez-nous sur :</p>
        <div class="networks-container">
            <a *ngFor="let network of become_partner?.networks"
             [href]="network.link" 
             target="_blank"
             class="network-icon">
            <i *ngIf="network.name === 'Facebook'" class="fab fa-facebook"></i>
            <i *ngIf="network.name === 'Instagram'" class="fab fa-instagram"></i>
          </a>
        </div>
    </div>
  </div>
</div>