.club-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    color: #6B5678;
}

.text{
    display: flex;
    justify-content: center;
}

.title {
    text-shadow: 4px 4px 4px #6B5678;
    font-size: 36px;
    color: #6B5678;
    text-align: center;
}

.numbers-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 10%;
}

.number-content {
    background-color: #6B5678;
    color: #CFBCDB;
    border-radius: 10px;
    padding: 10px;
    min-width: 20%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1600px) {
    .numbers-content {
        flex-direction: column;
    }
    .number-content {
        margin:  10px 0;
    }
}
