.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 10%;
    z-index: 2;
    width: 5%;
}

.title {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
}

/* Utilisation des unités responsives (vw) pour adapter la taille du texte */
.primary-title {
    top: 30%;
    font-size: 2.5vw; /* 6% de la largeur de l'écran */
}

.secondary-title {
    top: 45%;
    font-size: 1.5vw; /* 3% de la largeur de l'écran */
}

.blur_img {
    filter: blur(3px);
    border-radius: 10px;
    width: 94%;
    height: auto;
    z-index: 1;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    flex: 0 0 100%;
  }
  
  .carousel-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .carousel-control {
    padding: 10px 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    
    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }
