<div class="img">
    <div class="img-container">
        <div class="introduce-container">
            <img [src]="logohbcf.link" [alt]="logohbcf.name" class="logo">
            <h1 class="title primary-title">{{ accueilData.primaryTitle }}</h1>
            <h2 class="title secondary-title">{{ accueilData.secondaryTitle }}</h2>
        </div>
        <img [src]="image_accueil.link" [alt]="image_accueil.name" class="blur_img">
    </div>
    <div class="accueil-carousel">
        <div class="carousel-container">
            <div class="carousel-track" #track>
                <div class="carousel-slide">
                    <div (click)="navigateToNews(newItem[currentSlide]._id)" target="_blank" class="photo-link">
                        <img *ngIf="newPictures[currentSlide]?.link" [src]="newPictures[currentSlide]?.link" [alt]="" class="carousel-photo">
                        <div class="photo-caption text">{{ newItem[currentSlide]?.summary }}</div>
                    </div>
                </div>
            </div>
            <button class="carousel-button prev" (click)="prevSlide()">&#10094;</button>
            <button class="carousel-button next" (click)="nextSlide()">&#10095;</button>
        </div>
        <div class="carousel-dots">
            <span class="dot" *ngFor="let photo of news.newItems; let i = index" 
                  [class.active]="currentSlide === i"
                  (click)="goToSlide(i)">
            </span>
        </div>
    </div>
    <div class="accueil-infos">
        <div *ngFor="let info of accueilData.infos" class="accueil-infos-item">
            <img [src]="info.picture.link" [alt]="info.picture.alt || info.picture.name" class="accueil-info-images">
            <div class="accueil-infos-text-container">
                <p class="accueil-infos-title">{{info.title}}</p>
                <p *ngFor="let content of info.content" class="accueil-infos-text">{{ content.text }}</p>
                <button class="accueil-infos-button" [routerLink]="[info.button_link]">Plus d'infos</button>
            </div>
        </div>
    </div>
</div>
